*{margin: 0;padding: 0;}
html,body{
	width: 100%;
	min-width: 1200px;
}
a{
	text-decoration: none;
}
ul{
	list-style:none;
}
img{
	vertical-align: top;
	/* width: 100%; */
}
a{
	color: #333;
}
.w1200{
	width: 1200px;
	margin: 0 auto;
}
.clearfix:after{
	content: ',';
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}
.header_left{
	float: left;
	margin-left: 46px;
}
.header_right{
	float: right;
	margin-right: 46px;
}
.header_right li{
	float: left;
	width: 120px;
	text-align: center;
	line-height:79px ;
}
.header_right li:hover{
	border-bottom: 1px solid;
}
.banner img{
	width: 100%;
}
.content_all{
	margin: 36px 102px 22px 102px;
	padding-bottom: 4px;
	border-bottom: 1px solid #999;
	
}
.item_all{
	float: left;
}
.item{
	/* display: inline-block; */
	float: left;
	margin-right: 36px;
}
.item span{
	display: inline-block;
	width: 2px;
	height: 9px;
	margin-right: 7px;
	background: #999;
}
.item .span1{
	background: #866961;
}
.item p:nth-of-type(2){
	font-size: 12px;
	color: #999;
}
.about{
	float: right;
	margin-top: 20px;
}
.about p a{
	font-size: 14px;	
}
.about p a:nth-child(2),.about p a:nth-child(3){
	color:#999;
}
.content img{
	margin: 0 0 26px 102px;
}
.settle1,.settle2{
	text-indent: 2em;
	font-size: 14px;
	line-height: 24px;
	margin: 0  102px 34px 102px;
}
.footer{
	background: #866961;
}
.footer p{
	font-size: 14px;
	float: left;
	line-height: 80px;
	color: white;
	margin-left: 102px;
}
.footer img{
	float: right;
	margin: 20px 102px 0 0;
}